@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url(../public/images/spaceship.jpg); */
  background-color: rgb(31, 41, 55);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.checkbox{
  @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600
}

.card{
  @apply bg-white rounded-md overflow-hidden shadow-md relative hover:shadow-xl
}

.badge{
  @apply bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2
}

.btn{
  @apply rounded-full uppercase text-xs font-bold px-3 py-2 cursor-pointer tracking-wider
}
